<div class="buttons">
  <div class="color-buttons">
    <button type="button" name="red"></button>
    <button type="button" name="orange"></button>
    <button type="button" name="yellow"></button>
    <button type="button" name="green"></button>
    <button type="button" name="blue"></button>
    <button type="button" name="purple"></button>
    <button type="button" name="brown"></button>
    <button type="button" name="black"></button>
    <button type="button" name="white"></button>
  </div>
  <button type="button" name="reset-button">Reset</button>
  <button type="button" name="save-button">Save Your Mosaic</button>
</div>

<section>
  <ul class="cells">
    <!-- ROW ONE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWO  -->
    <%= erb :"/_cell_row" %>
    <!-- ROW THREE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW FOUR  -->
    <%= erb :"/_cell_row" %>
    <!-- ROW FIVE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW SIX -->
    <%= erb :"/_cell_row" %>
    <!-- ROW SEVEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW EIGHT -->
    <%= erb :"/_cell_row" %>
    <!-- ROW NINE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW ELEVEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWELVE  -->
    <%= erb :"/_cell_row" %>
    <!-- ROW THREETEEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW FOURTEEN  -->
    <%= erb :"/_cell_row" %>
    <!-- ROW FIFTEEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW SIXTEEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW SEVENTEEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW EIGHTEEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW NINETEEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-ONE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-TWO  -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-THREE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-FOUR  -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-FIVE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-SIX -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-SEVEN -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-EIGHT -->
    <%= erb :"/_cell_row" %>
    <!-- ROW TWENTY-NINE -->
    <%= erb :"/_cell_row" %>
    <!-- ROW THIRTY -->
    <%= erb :"/_cell_row" %>
  </ul>
</section>
